.title_animation {
  opacity: 100%;
  animation: title 2s ease-in-out;
 }

@keyframes title {
  0% {
    opacity: 0%;
    transform: translateY(-100%);
  }
  50% {
    display: none;
  }
  100% {
    opacity: 100;
    transform: translateY(0%);
  }
}

.text_animation {
  opacity: 100%;
  animation: text 2s ease-in-out;
  }

@keyframes text {
  0% {
    opacity: 0;
    transform: translateY(100%);
  }
  100% {
    opacity: 100;
    transform: translateY(0%);
  }
}
